*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #cffeff;
    padding: 0 10px;
}
.container{
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 3px 3px 2px rgba(1, 38, 61, 0.125);
}
.container .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: rgb(4, 73, 122);
    text-transform: uppercase;
    text-align: center;
}
.container .form{
    width: 100%;
}
.container .form .input-field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.container .form .input-field .form-label{
    width: 200px;
    margin-right: 10px;
}

.btn{
    background-color: rgb(4, 73, 122);
    border: none;
    color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.container .form .input-field .btn{
    background-color: white; 
  color: rgb(3, 11, 58); 
  border: 2px solid rgb(4, 73, 122);
  border-radius: 10px;
}
.container .form .input-field .btn:hover {
    background-color: rgb(4, 73, 122);
    color: rgb(201, 221, 237);
    
}